<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>{% block Title %}  {% endblock Title%} - Kmine</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block SEO_keywords %} kmine, kmine info solution,{% endblock SEO_keywords %}">
	<meta name="author" content="">

	<!-- Favicon -->
	
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

	<!-- Web Fonts -->
	
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	
	<link rel="stylesheet" href="/static/assets_u/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets_u/css/style.css">

		
	<!-- CSS Header and Footer -->
	
	<link rel="stylesheet" href="/static/assets_u/css/headers/header-v4-centered.css">
	<link rel="stylesheet" href="/static/assets_u/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/static/assets_u/plugins/animate.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/font-awesome/css/font-awesome.min.css">
	<!--<link rel="stylesheet" href="/static/assets_u/plugins/parallax-slider/css/parallax-slider.css"> -->
	<!-- <link rel="stylesheet" href="/static/assets_u/plugins/owl-carousel/owl-carousel/owl.carousel.css"> -->

	<!-- CSS Theme -->
	<link rel="stylesheet" href="/static/assets_u/css/theme-colors/{% block Page_Theme %}default.css{% endblock Page_Theme %}">
	<link rel="stylesheet" href="/static/assets_u/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/static/assets_u/css/custom.css">
	<link rel="stylesheet" href="/static/assets_u/css/headers/header-v4-centered.css">
	<style>
.header-v4 .mega-menu .container {
	width: 100%;
  	position: relative;
  	background: #003366;  /*Mega Menu Saravanan
  	font-size: 20px;
  	color: #fff

}
	</style>
	
	{% block Style_sheets %}
	{% endblock Style_sheets %}
	
</head>

<body>
	<div class="wrapper">
		{% include "unify/_menu_bar.html" %}
		<!--=== Content Part ===-->
		<div class="container {% block Body_container %} full-width {% endblock Body_container %}">
		{% block Content %}
			<!-- Service Blocks -->
			<div class="row margin-bottom-30">
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-compress service-icon"></i>
						<div class="desc">
							<h4>Fully Responsive</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-cogs service-icon"></i>
						<div class="desc">
							<h4>HTML5 + CSS3</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-rocket service-icon"></i>
						<div class="desc">
							<h4>Launch Ready</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Blokcs -->

			<!-- Recent Works -->
			<div class="headline"><h2>Recent Works</h2></div>
			<div class="row margin-bottom-20">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="/static/assets_u/img/main/img1.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Project One</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="/static/assets_u/img/main/img12.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Project Two</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="/static/assets_u/img/main/img3.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Project Three</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="/static/assets_u/img/main/img17.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Project Four</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Recent Works -->

			<!-- Info Blokcs -->
			<div class="row margin-bottom-30">
				<!-- Welcome Block -->
				<div class="col-md-8 md-margin-bottom-40">
					<div class="headline"><h2>Welcome To Unify</h2></div>
					<div class="row">
						<div class="col-sm-4">
							<img class="img-responsive margin-bottom-20" src="/static/assets_u/img/main/img18.jpg" alt="">
						</div>
						<div class="col-sm-8">
							<p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
							<ul class="list-unstyled margin-bottom-20">
								<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
								<li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
								<li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
								<li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
							</ul>
						</div>
					</div>

					<blockquote class="hero-unify">
						<p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
						<small>CEO, Jack Bour</small>
					</blockquote>
				</div><!--/col-md-8-->

				<!-- Latest Shots -->
				<div class="col-md-4">
					<div class="headline"><h2>Latest Shots</h2></div>
					<div id="myCarousel" class="carousel slide carousel-v1">
						<div class="carousel-inner">
							<div class="item active">
								<img src="/static/assets_u/img/main/img4.jpg" alt="">
								<div class="carousel-caption">
									<p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
								</div>
							</div>
							<div class="item">
								<img src="/static/assets_u/img/main/img2.jpg" alt="">
								<div class="carousel-caption">
									<p>Cras justo odio, dapibus ac facilisis into egestas.</p>
								</div>
							</div>
							<div class="item">
								<img src="/static/assets_u/img/main/img24.jpg" alt="">
								<div class="carousel-caption">
									<p>Justo cras odio apibus ac afilisis lingestas de.</p>
								</div>
							</div>
						</div>

						<div class="carousel-arrow">
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div><!--/col-md-4-->
			</div>
			<!-- End Info Blokcs -->

			<!-- Owl Clients v1 -->
			<div class="headline"><h2>Our Clients</h2></div>
			<div class="owl-clients-v1">
				<div class="item">
					<img src="/static/assets_u/img/clients4/1.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/2.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/3.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/4.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/5.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/6.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/7.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/8.png" alt="">
				</div>
				<div class="item">
					<img src="/static/assets_u/img/clients4/9.png" alt="">
				</div>
			</div>
			<!-- End Owl Clients v1 -->
		{% endblock Content %}
		</div><!--/container-->
		<!-- End Content Part -->

		<!--=== Footer Version 1 ===-->
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="/static/assets_u/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/assets_u/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/static/assets_u/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="/static/assets_u/plugins/parallax-slider/js/modernizr.js"></script>

	<!-- JS Customization -->
	<script type="text/javascript" src="/static/assets_u/js/custom.js"></script>
	<!-- JS Page Level -->
	{% block Java_Scripts %}
	{% endblock Java_Scripts %}

		<!--[if lt IE 9]>
			<script src="/static/assets_u/plugins/respond.js"></script>
			<script src="/static/assets_u/plugins/html5shiv.js"></script>
			<script src="/static/assets_u/plugins/placeholder-IE-fixes.js"></script>
		<![endif]-->

	</body>
	</html>
