{% extends "unify/__base.html" %}

{% block Style_sheets %}
{% endblock Style_sheets %}


{% block Java_Scripts %}
{% endblock %}


{% block Content %}

<div class="row">

<div class="col-md-2">
{% block Side_Bar %}
	{% include 'unify/_left_sidebar.html' %}

{% endblock Side_Bar %}
</div>
<div class="col-xs-8 col-lg-8 col-md-12 col-sm-12">
{% block Form %}

{% endblock Form %}
</div>

<div class="col-md-2">

</div>
</div>
{% endblock Content %}
