{% load menu %}{% generate_menu %}		

					<br>
					<br>

					<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
						<!-- Typography -->

							{% with Type='Left_bar' Title='Agency' menu=menus.Agency %}{% include "IRM/nav_bar.html" %}{% endwith %}
							{% with Type='Left_bar' Title='Panel Members' menu=menus.Panel_Members %}{% include "IRM/nav_bar.html" %}{% endwith %}
							{% with Type='Left_bar' Title='Cases' menu=menus.Cases %}{% include "IRM/nav_bar.html" %}{% endwith %}
						<!-- End Typography -->



					</ul>
				</div>
				<!-- End Sidebar Menu -->