		<div class="header-v4">
		<!-- Topbar -->
			<div class="topbar-v1">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-inline top-v1-contacts">
								<li>
									<i class="fa fa-envelope"></i> Email: <a href="mailto:info@htmlstream.com">info@htmlstream.com</a>
								</li>
								<li>
									<i class="fa fa-phone"></i> Hotline: (1) 396 4587 99
								</li>
							</ul>
						</div>

						<div class="col-md-6">
							<ul class="list-inline top-v1-data">

								<li><a href="#">My Account</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
		
			<div class="navbar navbar-default mega-menu" role="navigation">
				
				<div class="clearfix"></div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="container">
						<ul class="nav navbar-nav">
							<!-- Home -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Home
								</a>
								<ul class="dropdown-menu">
									<li><a href="index.html">Option 1: Default Page</a></li>

									<!-- One Page -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Option 2: One Page</a>
										<ul class="dropdown-menu">
											<li><a target="_blank" href="One-Pages/Classic/index.html">- One Page Template</a></li>
											<li><a target="_blank" href="One-Pages/Classic/one_page_dark.html">- One Page Dark Option</a></li>
											<li><a target="_blank" href="One-Pages/Classic/one_page_home1.html">- One Page Option 1</a></li>
											<li><a target="_blank" href="One-Pages/Classic/one_page_home2.html">- One Page Option 2</a></li>
											<li><a target="_blank" href="One-Pages/Classic/one_page_home3.html">- One Page Option 3</a></li>
										</ul>
									</li>
									<!-- End One Page -->

									<!-- Shop UI Page -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Option 3: Shop UI</a>
										<ul class="dropdown-menu">
											<li><a target="_blank" href="E-Commerce/index.html">- Home Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-inner.html">- Product Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-filter-grid.html">- Filter Grid Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-filter-list.html">- Filter List Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-add-to-cart.html">- Checkout Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-login.html">- Login Page</a></li>
											<li><a target="_blank" href="E-Commerce/shop-ui-register.html">- Registration Page</a></li>
										</ul>
									</li>
									<!-- End Shop UI -->

									<!-- Blog Template -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Option 4: Blog Template</a>
										<ul class="dropdown-menu">
											<li><a target="_blank" href="Blog-Magazine/index.html">- Home Page</a></li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">- Blog Page Layouts</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Blog-Magazine/blog_page_layouts1.html">Page Layouts v1</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_page_layouts2.html">Page Layouts v2</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_page_layouts3.html">Page Layouts v3</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_page_layouts4.html">Page Layouts v4</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">- Blog Post Layouts</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts1.html">Post Layout v1</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts2.html">Post Layout v2</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts3.html">Post Layout v3</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts4.html">Post Layout v4</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts5.html">Post Layout v5</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts6.html">Post Layout v6</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts7.html">Post Layout v7</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts8.html">Post Layout v8</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts9.html">Post Layout v9</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts_ls.html">Left Sidebar Example</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_post_layouts_fw.html">Full Width Example</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">- Grid Layouts</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Blog-Magazine/blog_grid_1.html">Grid: 1 Col</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_2.html">Grid: 2 Col</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_3.html">Grid: 3 Col</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_4.html">Grid: 4 Col</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_4_fw.html">Grid: Full Width (4 Col)</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_2_rs.html">Grid: Right Sidebar (2 Col)</a></li>
													<li><a target="_blank" href="Blog-Magazine/blog_grid_2_ls.html">Grid: Left Sidebar (2 Col)</a></li>
												</ul>
											</li>
											<li><a target="_blank" href="Blog-Magazine/blog_single.html">- Single Page</a></li>
											<li><a target="_blank" href="Blog-Magazine/blog_home_boxed.html">- Home Boxed Page</a></li>
											<li><a target="_blank" href="Blog-Magazine/blog_home_boxed_space.html">- Home Boxed Space Page</a></li>
										</ul>
									</li>
									<!-- End Blog Template -->

									<li><a href="page_home8.html">Option 5: Home Discover</a></li>
									<li><a href="page_home14.html">Option 6: Home Incredible</a></li>
									<li><a href="page_home9.html">Option 7: Home Creative</a></li>
									<li><a href="page_home10.html">Option 8: Home Inspire</a></li>
									<li><a href="page_home15.html">Option 9: Home Aspire</a></li>
									<li><a href="page_home11.html">Option 10: Home Desire</a></li>
									<li><a href="page_home17.html">Option 11: Home Allure</a></li>
									<li><a href="page_jobs.html">Option 12: Home Jobs</a></li>
									<li><a href="page_home3.html">Option 13: Amazing Content</a></li>
									<li><a href="page_home6.html">Option 14: Home Magazine</a></li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Option 15: Home Sidebar</a>
										<ul class="dropdown-menu">
											<li><a href="page_home12.html">- Home Left Sidebar</a></li>
											<li><a href="page_home13.html">- Home Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="page_home1.html">Option 16: Home Basic v1</a></li>
									<li><a href="page_home2.html">Option 17: Home Basic v2</a></li>
									<li><a href="page_home5.html">Option 18: Home Basic v3</a></li>
									<li><a href="page_home4.html">Option 19: Home Basic v4</a></li>
									<li><a href="page_home7.html">Option 20: Home Basic v5</a></li>
									<li><a href="page_home16.html">Option 21: Home Basic v6</a></li>
									<li><a href="page_home18.html">Option 22: Home Basic v7</a></li>
								</ul>
							</li>
							<!-- End Home -->

							<!-- Pages -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Pages
								</a>
								<ul class="dropdown-menu">
									<!-- About Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">About Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_about2.html">About Us </a></li>
											<li><a href="page_about3.html">About Us 1</a></li>
											<li><a href="page_about1.html">About Us 2</a></li>
											<li><a href="page_about.html">About Us 3</a></li>
											<li><a href="page_about_me.html">About Me </a></li>
											<li><a href="page_about_me1.html">About Me 1</a></li>
											<li><a href="page_about_me2.html">About Me 2</a></li>
											<li><a href="page_about_our_team.html">About Our Team</a></li>
											<li><a href="page_about_our_team1.html">About Our Team 1</a></li>
											<li><a href="page_about_our_team2.html">About Our Team 2</a></li>
										</ul>
									</li>
									<!-- End About Pages -->

									<!-- Service Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Service Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_services.html">Our Services</a></li>
											<li><a href="page_services1.html">Our Services 1</a></li>
											<li><a href="page_services2.html">Our Services 2</a></li>
											<li><a href="page_services3.html">Our Services 3</a></li>
										</ul>
									</li>
									<!-- End Service Pages -->

									<!-- Contacts -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
											Contact Pages
										</a>
										<ul class="dropdown-menu">
											<li><a href="page_contact1.html">Contacts Default</a></li>
											<li><a href="page_contact2.html">Contacts Option 1</a></li>
											<li><a href="page_contact3.html">Contacts Option 2</a></li>
											<li><a href="page_contact4.html">Contacts Option 3</a></li>
											<li><a href="page_contact_advanced.php">Contacts Advanced</a></li>
										</ul>
									</li>
									<!-- End Contacts -->

									<!-- Profile Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Profile Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_profile.html">Profile Main Page</a></li>
											<li><a href="page_profile_me.html">Profile Overview</a></li>
											<li><a href="page_profile_users.html">Profile Users</a></li>
											<li><a href="page_profile_projects.html">Profile Projects</a></li>
											<li><a href="page_profile_comments.html">Profile Comments</a></li>
											<li><a href="page_profile_history.html">Profile History</a></li>
											<li><a href="page_profile_settings.html">Profile Settings</a></li>
										</ul>
									</li>
									<!-- End Profile Pages -->

									<!-- Job Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Job Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_jobs.html">Jobs Main Page</a></li>
											<li><a href="page_jobs1.html">Jobs Main Page 1</a></li>
											<li><a href="page_jobs_inner.html">Jobs Description Default</a></li>
											<li><a href="page_jobs_inner1.html">Jobs Description Basic</a></li>
											<li><a href="page_jobs_inner2.html">Jobs Description Min</a></li>
										</ul>
									</li>
									<!-- End Job Pages -->

									<!-- Pricing Tables -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Pricing Tables</a>
										<ul class="dropdown-menu">
											<li><a href="page_pricing_colorful.html">Colorful Pricing Tables</a></li>
											<li><a href="page_pricing_flat.html">Flat Pricing Tables</a></li>
											<li><a href="page_pricing_light.html">Light Pricing Tables</a></li>
											<li><a href="page_pricing_mega.html">Mega Pricing Tables</a></li>
											<li><a href="page_pricing.html">Default Pricing Tables</a></li>
										</ul>
									</li>
									<!-- End Pricing Tables -->

									<!-- Login and Registration -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Login and Registration</a>
										<ul class="dropdown-menu">
											<li><a href="page_registration.html">Registration Page</a></li>
											<li><a href="page_login.html">Login Page</a></li>
											<li><a href="page_registration1.html">Registration Option</a></li>
											<li><a href="page_login1.html">Login Option</a></li>
											<li><a href="page_login_and_registration.html">Login/Registration Option</a></li>
											<li><a href="page_registration2.html">Registration Option 2</a></li>
											<li><a href="page_login2.html">Login Option 2 </a></li>
										</ul>
									</li>
									<!-- End Login and Registration -->

									<!-- FAQs Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">FAQs Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_faq1.html">FAQs Page</a></li>
											<li><a href="page_faq.html">FAQs Basic</a></li>
										</ul>
									</li>
									<!-- End FAQs Pages -->

									<!-- Email Tempaltes -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Email Templates</a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">Email Corporate</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_aqua.html">Corporate Aqua Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_blue.html">Corporate Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_brown.html">Corporate Brown Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_dark_blue.html">Corporate Dark Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_green.html">Corporate Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_light_green.html">Corporate Light Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_grey.html">Corporate Grey Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_orange.html">Corporate Orange Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_purple.html">Corporate Purple Color</a></li>
													<li><a target="_blank" href="Email-Templates/corporate/email_corporate_red.html">Corporate Red Color</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">Email Flat</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Email-Templates/flat/email_flat_aqua.html">Flat Aqua Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_blue.html">Flat Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_brown.html">Flat Brown Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_dark_blue.html">Flat Dark Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_green.html">Flat Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_light_green.html">Flat Light Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_grey.html">Flat Grey Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_orange.html">Flat Orange Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_purple.html">Flat Purple Color</a></li>
													<li><a target="_blank" href="Email-Templates/flat/email_flat_red.html">Flat Red Color</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">Email Modern</a>
												<ul class="dropdown-menu">
													<li><a target="_blank" href="Email-Templates/modern/email_modern_aqua.html">Modern Aqua Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_blue.html">Modern Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_brown.html">Modern Brown Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_dark_blue.html">Modern Dark Blue Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_green.html">Modern Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_light_green.html">Modern Light Green Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_grey.html">Modern Grey Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_orange.html">Modern Orange Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_purple.html">Modern Purple Color</a></li>
													<li><a target="_blank" href="Email-Templates/modern/email_modern_red.html">Modern Red Color</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<!-- End Email Tempaltes -->

									<!-- Search Results -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Search Results</a>
										<ul class="dropdown-menu">
											<li><a href="page_search_inner_full_width.html">Search Results Full Width</a></li>
											<li><a href="page_search_inner_left_sidebar.html">Search Result Left Sidebar</a></li>
											<li><a href="page_search_table.html">Search Result Tables</a></li>
										</ul>
									</li>
									<!-- End Search Results -->

									<!-- Coming Soon -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Coming Soon Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_coming_soon.html">Coming Soon</a></li>
											<li><a href="page_coming_soon1.html">Coming Soon 1</a></li>
											<li><a href="page_coming_soon2.html">Coming Soon 2</a></li>
											<li><a href="page_coming_soon3.html">Coming Soon 3</a></li>
											<li><a href="page_coming_soon4.html">Coming Soon 4</a></li>
											<li><a href="page_coming_soon5.html">Coming Soon 5</a></li>
											<li><a href="page_coming_soon6.html">Coming Soon 6</a></li>
										</ul>
									</li>
									<!-- End Coming Soon -->

									<!-- Error Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Error Pages</a>
										<ul class="dropdown-menu">
											<li><a href="page_404_error.html">404 Error Default</a></li>
											<li><a href="page_404_error1.html">404 Error Option 1</a></li>
											<li><a href="page_404_error2.html">404 Error Option 2</a></li>
											<li><a href="page_404_error3.html">404 Error Option 3</a></li>
											<li><a href="page_404_error4.html">404 Error Option 4</a></li>
											<li><a href="page_404_error5.html">404 Error Option 5</a></li>
											<li><a href="page_404_error6.html">404 Error Option 6</a></li>
										</ul>
									</li>
									<!-- End Error Pages -->

									<!-- Invoice Page -->
									<li><a href="page_invoice.html">Invoice Page</a></li>
									<!-- End Invoice Page -->

									<!-- Clients Page -->
									<li><a href="page_clients.html">Clients Page</a></li>
									<!-- End Clients Page -->

									<!-- Column Pages -->
									<li><a href="page_3_columns.html">Three Columns Page</a></li>
									<!-- End Column Pages -->

									<!-- Privacy Policy -->
									<li><a href="page_privacy.html">Privacy Policy</a></li>
									<!-- End Privacy Policy -->

									<!-- Terms of Service -->
									<li><a href="page_terms.html">Terms of Service</a></li>
									<!-- End Terms of Service -->

									<!-- Misc Pages -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Misc</a>
										<ul class="dropdown-menu">
											<li><a href="page_misc_blank.html">Blank page</a></li>
											<li><a href="page_misc_boxed.html">Boxed Page</a></li>
											<li><a href="page_misc_boxed_img.html">Boxed Image Page</a></li>
											<li><a href="page_misc_boxed_fixed_header.html">Boxed Fixed Menu</a></li>
											<li><a href="page_misc_dark.html">Dark Page</a></li>
											<li><a href="page_misc_dark_boxed.html">Dark Boxed Page</a></li>
											<li><a href="page_misc_dark_other_color.html">Dark Page with Theme Color</a></li>
											<li><a href="page_misc_sticky_footer.html">Sticky Footer Example</a></li>
										</ul>
									</li>
									<!-- End Misc Pages -->

									<!-- Sub Level Menu -->
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Sub Level 1</a>
										<ul class="dropdown-menu no-bottom-space">
											<li><a href="index.hmtl">Sub Level 2</a></li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">Sub Level 2</a>
												<ul class="dropdown-menu">
													<li><a href="index.hmtl">Sub Level 3</a></li>
													<li><a href="index.hmtl">Sub Level 3</a></li>
													<li><a href="index.hmtl">Sub Level 3</a></li>
													<li><a href="index.hmtl">Sub Level 3</a></li>
												</ul>
											</li>
											<li><a href="index.hmtl">Sub Level 2</a></li>
											<li class="dropdown-submenu">
												<a href="javascript:void(0);">Sub Level 2</a>
												<ul class="dropdown-menu no-bottom-space">
													<li><a href="index.hmtl">Sub Level 3</a></li>
													<li><a href="index.hmtl">Sub Level 3</a></li>
													<li><a href="index.hmtl">Sub Level 3</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<!-- End Sub Level Menu -->
								</ul>
							</li>
							<!-- End Pages -->

							<!-- Blog -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Blog
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Blog Large Image</a>
										<ul class="dropdown-menu">
											<li><a href="blog_large_right_sidebar1.html">Right Sidebar</a></li>
											<li><a href="blog_large_left_sidebar1.html">Left Sidebar</a></li>
											<li><a href="blog_large_full_width1.html">Full Width</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Blog Medium Image</a>
										<ul class="dropdown-menu">
											<li><a href="blog_medium_right_sidebar1.html">Right Sidebar</a></li>
											<li><a href="blog_medium_left_sidebar1.html">Left Sidebar</a></li>
											<li><a href="blog_medium_full_width1.html">Full Width</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Blog Item Pages</a>
										<ul class="dropdown-menu">
											<li><a href="blog_large_right_sidebar_item1.html">Right Sidebar Item</a></li>
											<li><a href="blog_large_left_sidebar_item1.html">Left Sidebar Item</a></li>
											<li><a href="blog_large_full_width_item1.html">Full Width Item</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Blog Simple Pages</a>
										<ul class="dropdown-menu">
											<li><a href="blog_large_right_sidebar.html">Right Sidebar Large</a></li>
											<li><a href="blog_medium_right_sidebar.html">Right Sidebar Medium</a></li>
											<li><a href="blog_large_full_width.html">Full Width</a></li>
											<li><a href="blog_large_right_sidebar_item.html">Right Sidebar Item</a></li>
											<li><a href="blog_large_full_width_item.html">Full Width Item</a></li>
										</ul>
									</li>
									<li><a href="blog_masonry_3col.html">Masonry Grid Blog</a></li>
									<li><a href="blog_timeline.html">Blog Timeline</a></li>
								</ul>
							</li>
							<!-- End Blog -->

							<!-- Portfolio -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Portfolio
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">No Space Boxed</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_grid_no_space.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_grid_no_space.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_grid_no_space.html">4 Columns</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Grid Boxed</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_grid.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_grid.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_grid.html">4 Columns</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Grid Text Boxed</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_grid_text.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_grid_text.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_grid_text.html">4 Columns</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">No Space Full Width</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_fullwidth_no_space.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_fullwidth_no_space.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_fullwidth_no_space.html">4 Columns</a></li>
											<li><a href="portfolio_5_columns_fullwidth_no_space.html">5 Columns</a></li>
											<li><a href="portfolio_6_columns_fullwidth_no_space.html">6 Columns</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Grid Full Width</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_fullwidth.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_fullwidth.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_fullwidth.html">4 Columns</a></li>
											<li><a href="portfolio_5_columns_fullwidth.html">5 Columns</a></li>
											<li><a href="portfolio_6_columns_fullwidth.html">6 Columns</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Grid Text Full Width</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_2_columns_fullwidth_text.html">2 Columns</a></li>
											<li><a href="portfolio_3_columns_fullwidth_text.html">3 Columns</a></li>
											<li><a href="portfolio_4_columns_fullwidth_text.html">4 Columns</a></li>
											<li><a href="portfolio_5_columns_fullwidth_text.html">5 Columns</a></li>
											<li><a href="portfolio_6_columns_fullwidth_text.html">6 Columns</a></li>
										</ul>
									</li>
									<li><a href="portfolio_hover_colors.html">Portfolio Hover Colors</a></li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Portfolio Items</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_single_item.html">Single Item</a></li>
											<li><a href="portfolio_old_item.html">Basic Item 1</a></li>
											<li><a href="portfolio_old_item1.html">Basic Item 2</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">Portfolio Basic Pages</a>
										<ul class="dropdown-menu">
											<li><a href="portfolio_old_text_blocks.html">Basic Grid Text</a></li>
											<li><a href="portfolio_old_2_column.html">Basic 2 Columns</a></li>
											<li><a href="portfolio_old_3_column.html">Basic 3 Columns</a></li>
											<li><a href="portfolio_old_4_column.html">Basic 4 Columns</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<!-- End Portfolio -->

							<!-- Demo Pages -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Demos
								</a>
								<ul class="dropdown-menu">
									<li><a href="One-Pages/Architecture/index.html">Architecture</a></li>
									<li><a href="One-Pages/Travel/index.html">Travel</a></li>
									<li><a href="One-Pages/App/index.html">Mobile App</a></li>
									<li><a href="One-Pages/Shipping/index.html">Shipping</a></li>
									<li><a href="One-Pages/Agency/index.html">Agency</a></li>
									<li><a href="One-Pages/Spa/index.html">Spa</a></li>
									<li><a href="One-Pages/Lawyer/index.html">Lawyer</a></li>
									<li><a href="One-Pages/Business/index.html">Business</a></li>
                	<li><a href="One-Pages/Wedding/index.html">Wedding</a></li>
                	<li><a href="One-Pages/Courses/index.html">Courses</a></li>
									<li><a href="Landing-Pages/Wealth/index.html">Wealth</a></li>
									<li><a href="Landing-Pages/Consulting/index.html">Consulting</a></li>
									<li><a href="One-Pages/Hero-Fashion/index.html">Hero Fashion</a></li>
									<li><a href="One-Pages/Hero-Gym/index.html">Hero Gym</a></li>
									<li><a href="One-Pages/Hero-Photography/index.html">Hero Photography</a></li>
									<li><a href="One-Pages/Hero-Restaurant/index.html">Hero Restaurant</a></li>
									<li><a href="One-Pages/Hero-WebApp/index-dark.html">Hero Web App Dark</a></li>
									<li><a href="One-Pages/Hero-WebApp/index.html">Hero Web App Light</a></li>
								</ul>
							</li>
							<!-- End Demo Pages -->
						</ul>

						<!-- Search Block -->
						<ul class="nav navbar-nav navbar-border-bottom navbar-right">
							<li class="no-border">
								<i class="search fa fa-search search-btn"></i>
								<div class="search-open">
									<div class="input-group animated fadeInDown">
										<input type="text" class="form-control" placeholder="Search">
										<span class="input-group-btn">
											<button class="btn-u" type="button">Go</button>
										</span>
									</div>
								</div>
							</li>
						</ul>
						<!-- End Search Block -->
					</div><!--/end container-->
				</div><!--/navbar-collapse-->
			</div>
			<!-- End Navbar -->
		</div>