{% extends "unify/__table_view.html" %}
{% load i18n %}
{% load form_custom %}
{% block Page_Theme %}purple.css{% endblock Page_Theme %}


{% block Style_sheets %}
	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
	

{% endblock Style_sheets %}

{% block Form %}
					<div id="alert-2"></div>
					<br><br>

					<div class="panel panel-grey margin-bottom-40">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-globe"></i>{{ Title }} </h3>
						</div>
						<div class="panel-body">
							    <table id='Table_list' class="table table-bordered">
								<thead>
									<tr>
										<th>Domain Name</th>
										{% for field in Columns %}
											<th>{{field}}</th>
										{% endfor %}
										<th>Status</th>	
									</tr>
								</thead>
								<tbody>
							
								{% for query in query_list %}
									<tr>
										<td><a href="/domain/detail/{{query.id}}">{{query.domain_name}}</a></td>
										{% for field in Columns %}
											<td>{{ query|get_value:field }}</td>
										{% endfor %}
										<td>
											<button class="btn btn-warning btn-xs more_button" value={{query.id}}><i class="fa fa-pencil"></i>More</button>
											<button class="btn btn-warning btn-xs edit_button" value={{query.id}}><i class="fa fa-pencil"></i>Edit</button>
											<button class="btn btn-danger btn-xs delete_button" value={{query.id}}><i class="fa fa-trash-o"></i></button>
										</td>						
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!--End Table Bordered-->

					<div class="margin-bottom-60"></div>						

{% endblock Form %}

{% block Java_Scripts %}
	<script type="text/javascript" src="/static/assets_u/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="/static/assets_u/plugins/smoothScroll.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
	
	
	<script type="text/javascript">
		jQuery(document).ready(function() {
			
			//$('#Table_list').DataTable();
			
			var oTable = $('#Table_list').DataTable({
				"fnDrawCallback":function(oSettings){
					
					  $('.more_button').click(function() {
						    alert($(this).attr('value'));
						  });
						  
						  $('.edit_button').click(function() {
							  	var instance = $(this).attr('value');
							  	window.location.href = "/irm/edit_agency/"+instance
							  });
						  
						  $('.delete_button').click(function() {
		  				  	  	  agency_id = $(this).attr('value')							 
							      bootbox.confirm("Are you sure you want to delte domain with ID " + agency_id + " ?" , function(result) {
							    	  $.ajax('/domain/delete_domain/'+agency_id, { 
											type: 'POST',
											dataType : "html",	
											data :  { csrfmiddlewaretoken: '{{ csrf_token }}'}, 
																												
											success: 	function(get_record_html) {
												location.reload();															
												$('#alert-2').replaceWith(get_record_html)
												

												 },

											error : function(xhr,errmssg,transport_html) {
												console.log('Failure');
												console.log(transport_html);
												console.log(errmssg);
													}
												}); // end new Ajax.Request
								  
								     }); 
							  }); 
				}
				});

		});
	</script>
	
{% endblock Java_Scripts %}