{% extends "unify/__table_view.html" %}

{% load form_custom %}

{% block Style_sheets %} 

	<link rel="stylesheet" href="/static/assets_u/plugins/animate.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="/static/assets_u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
	<link rel="stylesheet" href="/static/assets_u/css/pages/profile.css">
	
	<style>
	.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


</style>
	
{% endblock Style_sheets %}

{% block Java_Scripts %}
	<script type="text/javascript" src="/static/assets_u/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="/static/assets_u/plugins/smoothScroll.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/masking.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/app.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/style-switcher.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/masking.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/datepicker.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/validation.js"></script>
	<script type="text/javascript" src="/static/assets_u/js/plugins/style-switcher.js"></script>

	
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			Masking.initMasking();
			Datepicker.initDatepicker();
			Validation.initValidation();
			StyleSwitcher.initStyleSwitcher();
			
			
			$("#sky-form1").validate();
		});
	</script>
	
{% endblock %}

{% block Body_container %}content profile{% endblock Body_container %}

{% load i18n %}

{% block Page_Theme %}purple.css{% endblock Page_Theme %}

{% block Form %}

				<!-- Profile Content -->
					<div class="profile-body margin-bottom-20">
						<div class="tab-v1">
							<ul class="nav nav-justified nav-tabs">
								<li class="active"><a data-toggle="tab" href="#profile">Basic Information</a></li>
								<li><a data-toggle="tab" href="#dnsinfo">DNS Information</a></li>
								<li><a data-toggle="tab" href="#contact_info">Contact Information</a></li>
								<li><a data-toggle="tab" href="#SSL_Info">SSL Information</a></li>
								<li><a data-toggle="tab" href="#Login_Information">Login Information</a></li>
								
							</ul>
							<div class="tab-content">
								<div id="profile" class="profile-edit tab-pane fade in active">
									<h2 class="heading-md">DNS and network information for <strong>{{ object.domain_name }}</strong></h2>
									<br>
									<dl class="dl-horizontal">
										<dt><strong>Domain Name </strong></dt>
										<dd>
											{{ object.domain_name }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Expiry_date </strong></dt>
										<dd>
											{{ object.expiry_date }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting Server</strong></dt>
										<dd>
											{{ object.Hosting_server }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting provider </strong></dt>
										<dd>
											{{ object.hosting_provider }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Auto Renewal </strong></dt>
										
										<dd>
											{{ object.auto_renewal }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Comments </strong></dt>
										<dd>
											{{ object.comments }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting Location </strong></dt>
										<dd>
											
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
									</dl>

								</div>

								<div id="dnsinfo" class="profile-edit tab-pane fade">
									<h2 class="heading-md">DNS and network information for <strong>{{ object.domain_name }}</strong></h2>
									<br>
									{{dns_info}}
										<dl class="dl-horizontal">
										<dt><strong>A Record </strong></dt>
										<dd>
											{{ dns_info.A_Record }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Expiry_date </strong></dt>
										<dd>
											{{ object.expiry_date }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting Server</strong></dt>
										<dd>
											{{ object.Hosting_server }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting provider </strong></dt>
										<dd>
											{{ object.hosting_provider }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Auto Renewal </strong></dt>
										
										<dd>
											{{ object.auto_renewal }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Comments </strong></dt>
										<dd>
											{{ object.comments }}
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
										<dt><strong>Hosting Location </strong></dt>
										<dd>
											
											<span>
												<a class="pull-right" href="#">
													<i class="fa fa-pencil"></i>
												</a>
											</span>
										</dd>
										<hr>
									</dl>

								</div>

								<div id="contact_info" class="profile-edit tab-pane fade">
								
								<h2 class="heading-md">Contact Information for <strong>{{ object.domain_name }}</strong></h2>
								<hr>
									<br>
										<dl class="dl-horizontal">
										<dt><strong>Business Department</strong></dt>
										<dd>
											{{ object.Business_Department }}

										</dd>
										<hr>
										<dt><strong>Developer</strong></dt>
										<dd>
											{{ object.Developer }}
										</dd>
										<hr>
										<dt><strong>Developer Email</strong></dt>
										<dd>
											{{ object.Developer_Email }}
										</dd>
										<hr>
										<dt><strong>Developer Contact number </strong></dt>
										<dd>
											{{ object.Developer_Contact_number }}
										</dd>
										
									</dl>
								
								
									
								</div>

								<div id="SSL_Info" class="profile-edit tab-pane fade">

								</div>
								
								<div id="Login_Information" class="profile-edit tab-pane fade">
								
								<h2 class="heading-md">Login details for <strong>{{ object.domain_name }}</strong></h2>
								<hr>
									<br>
										<dl class="dl-horizontal">
										<dt><strong>CMS User Name</strong></dt>
										<dd>
											{{ object.CMS_Username }}

										</dd>
										<hr>
										<dt><strong>CMS Password</strong></dt>
										<dd>
											{{ object.CMS_Password }}
										</dd>
										<hr>
										<strong>Hosting/Cpanel Username</strong>
										<dd>
											{{ object.Hosting_or_Cpanel_Username }}
										</dd>
										<hr>
										<dt><strong>Hosting/Cpanel Password</strong></dt>
										<dd>
											{{ object.Hosting_or_Cpanel_Password }}
										</dd>
										
									</dl>
								
								

								</div>
							</div>
						</div>
					</div>
				<!-- End Profile Content -->
				
{% endblock Form %}