{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{% block Title %}Kmine App Cloud{% endblock %}</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "assets/css/font-awesome.css" %}" />
		

		

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static "assets/css/ace-fonts.css" %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static "assets/css/ace.css" %}" class="ace-main-stylesheet" id="main-ace-style" />

		{% block Style_sheets %}
		{% endblock Style_sheets %}

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static "assets/css/ace-part2.css" %}" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static "assets/css/ace-ie.css" %}"/>
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static "assets/js/ace-extra.js" %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static "assets/js/html5shiv.js" %}"></script>
		<script src="{% static "assets/js/respond.js" %}"></script>
		<![endif]-->
	</head>

	<body class="{% if request.user.profile.Skin %}{{ request.user.profile.Skin }}{% else %}no-skin{% endif %}">
	
		<!-- #section:basics/navbar.layout -->
		{% block Nav_bar %}
	
				{% include 'ace/base/_Nav_Bar.html' %}
	
		{% endblock Nav_bar %}
			
		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<!-- #section:basics/sidebar -->
			{% block Side_bar %}
	
				{% include 'ace/base/_side_bar.html' %}
	
			{% endblock Side_bar %}

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
						{% block BreadCrumbs %}
	
								{% include 'ace/base/_breadCRUMB.html' %}
	
						{% endblock BreadCrumbs %}

					<!-- /section:basics/content.breadcrumbs -->
					
					<div class="page-content">
						<!-- #section:settings.box -->
								{% block ACE_Settings_Key %}
	
										{% include 'ace/base/_ACE_settings.html' %}
	
								{% endblock ACE_Settings_Key %}

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								{% block Profile %}
									{% if Title %}{{ Title }}{% else %}Welcome{% endif %}
								{% endblock Profile %}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{% if Short_desc  %}{{ Short_desc }}{% else %}{% endif %}
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
											{% block Content_Area %}
	
												{% include 'ace/base/_Main_page_content.html' %}
	
											{% endblock Content_Area %}
								
											

									
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			{% block Footer %}
	
												{% include 'ace/base/_Footer.html' %}
	
			{% endblock Footer %}

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->


		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src="{% static 'assets/js/jquery1x.js' %}">"+"<"+"/script>");
</script>
<![endif]-->
		<script src="{% static "assets/js/jquery.js" %}"></script>
		<script src="{% static "assets/js/jquery.mobile.custom.js"  %}"></script>
		<script src="{% static "assets/js/bootstrap.js"  %}"></script>
		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{% static "assets/js/excanvas.js" %}" ></script>
		<![endif]-->
		<script src="{% static "assets/js/jquery-ui.custom.js" %}" ></script>
		<script src="{% static "assets/js/jquery.ui.touch-punch.js" %}" ></script>
		<script src="{% static "assets/js/jquery.easypiechart.js" %}" ></script>
		<script src="{% static "assets/js/jquery.sparkline.js" %}" ></script>

		<!-- ace scripts -->
		<script src="{% static "assets/js/ace/elements.scroller.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.colorpicker.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.fileinput.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.typeahead.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.wysiwyg.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.spinner.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.treeview.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.wizard.js" %}" ></script>
		<script src="{% static "assets/js/ace/elements.aside.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.ajax-content.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.touch-drag.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.sidebar.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.sidebar-scroll-1.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.submenu-hover.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.widget-box.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.settings.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.settings-rtl.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.settings-skin.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.widget-on-reload.js" %}" ></script>
		<script src="{% static "assets/js/ace/ace.searchbox-autocomplete.js" %}" ></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
						size: size
					});
				})
			
				$('.sparkline').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
					$(this).sparkline('html',
									 {
										tagValuesAttribute:'data-values',
										type: 'bar',
										barColor: barColor ,
										chartRangeMin:$(this).data('min') || 0
									 });
				});
			
			
			  //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
			  //but sometimes it brings up errors with normal resize event handlers
			  
				/////////////////////////////////////
				$(document).one('ajaxloadstart.page', function(e) {
					$tooltip.remove();
				});
			
			
			
			
				var d1 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d1.push([i, Math.sin(i)]);
				}
			
				var d2 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.5) {
					d2.push([i, Math.cos(i)]);
				}
			
				var d3 = [];
				for (var i = 0; i < Math.PI * 2; i += 0.2) {
					d3.push([i, Math.tan(i)]);
				}
				
			
				
			
			
				$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('.tab-content')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					//var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			
			
				$('.dialogs,.comments').ace_scroll({
					size: 300
			    });
				
				
				//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
				//so disable dragging when clicking on label
				var agent = navigator.userAgent.toLowerCase();
				if("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
				  $('#tasks').on('touchstart', function(e){
					var li = $(e.target).closest('#tasks li');
					if(li.length == 0)return;
					var label = li.find('label.inline').get(0);
					if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
				});
			
				$('#tasks').sortable({
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'draggable-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer',
					stop: function( event, ui ) {
						//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
						$(ui.item).css('z-index', 'auto');
					}
					}
				);
				$('#tasks').disableSelection();
				$('#tasks input:checkbox').removeAttr('checked').on('click', function(){
					if(this.checked) $(this).closest('li').addClass('selected');
					else $(this).closest('li').removeClass('selected');
				});
			
			
				//show the dropdowns on top or bottom depending on window height and menu position
				$('#task-tab .dropdown-hover').on('mouseenter', function(e) {
					var offset = $(this).offset();
			
					var $w = $(window)
					if (offset.top > $w.scrollTop() + $w.innerHeight() - 100) 
						$(this).addClass('dropup');
					else $(this).removeClass('dropup');
				});
			
			})
		</script>

		<!-- the following scripts are used in demo only for onpage help and you don't need them -->
		<link rel="stylesheet" href="{% static "assets/css/ace.onpage-help.css" %}" />
		<link rel="stylesheet" href="{% static "docs/assets/js/themes/sunburst.css" %}" />

		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		<script src="{% static "assets/js/ace/elements.onpage-help.js" %}"></script>
		<script src="{% static "assets/js/ace/ace.onpage-help.js" %}"></script>
		<script src="{% static "docs/assets/js/rainbow.js" %}"></script>
		<script src="{% static "docs/assets/js/language/generic.js" %}"></script>
		<script src="{% static "docs/assets/js/language/html.js" %}"></script>
		<script src="{% static "docs/assets/js/language/css.js" %}"></script>
		<script src="{% static "docs/assets/js/language/javascript.js" %}"></script>
		{% block Java_Scripts %}
		{% endblock %}
	</body>
</html>
