{% extends 'ace/base/__base.html' %}

{% load staticfiles %}

{% block Style_sheets %}

{% endblock Style_sheets %}


{% block Java_Scripts %}

{% endblock %}


{% block Content_Area %}
<div class="row">
<div class='col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 col-xs-8 col-lg-10'>
{% block Form %}

{% endblock Form %}
</div><!-- End of Form Block Div -->
	
</div><!-- End of Content Area Div -->
{% endblock Content_Area %}