{% load staticfiles %}
{% load menu %}{% generate_menu %}

<div id="sidebar" class="sidebar responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>


				<ul class="nav nav-list">
					<li class="">


						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text">
								Websites
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>
						<ul class="submenu">
								{% for item in menus.Websites %}
									<li class="">
										<li><a href="{{ item.url }}">{{ item.title }}</a></li>
									</li>
								{% endfor %}


						</ul>
					</li>

					<!--  
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-building"></i>
							<span class="menu-text"> Offices </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							{% for item in menus.Offices %}
									<li class="">
										<li><a href="{{ item.url }}">{{ item.title }}</a></li>
									</li>
							{% endfor %}
						</ul>
					</li>
					-->


					<li class="">
					
						{% for item in menus.Others %}
							<li class="">
								<a href="{{ item.url }}">
								
									<i class="menu-icon fa fa-{{item.icon}}"></i>
		
									<span class="menu-text">
										{{ item.title }}
									</span>
								</a>
							</li>
						{% endfor %}
					</li>


				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>